<div style="text-align: center">
  <h1>Hello <%= @user.first_name.capitalize %></h1>

  <p>You haven't confirmed your interest in our coworking space in Brest for 20 days. Therefore, you have been removed from the waiting list.</p>

  <p>If you wish to re-register on this list, follow <a href= "http://localhost:3000/">this link</a></p>

  <p>Thank you!</p>

  <p><i>Brest Coworking Team</i></p>
</div>