<div style="text-align: center">
  <h1>Hello <%= @user.first_name.capitalize %></h1>

  <h2>Are you still looking for a coworking space ?</h2>

  <p>
    To remain into the waiting list for Brest coworking, just follow 
    <a href="<%= url_for(host: 'https://waiting-list-mailer.herokuapp.com/',
      controller: 'pages',
      action: 'queue_position',
      id: @user.id ) %>" >
        this link
      </a>
    .
  </p>
  <p>
    To cancel your registration into the waiting list for Brest coworking, just clic 
      <a href="<%= url_for(host: 'https://waiting-list-mailer.herokuapp.com/',
      controller: 'pages',
      action: 'cancel_registration',
      id: @user.id ) %>" >
        here
      </a>
    .
  </p>

  <p>WARNING : Without confirmation from you, you will be removed from the waiting list in 5 days.</p>

  <p>Thank you!</p>

  <p><i>Brest Coworking Team</i></p>
</div>