<div style="text-align: center">
  <h1>Welcome <%= @user.first_name.capitalize %></h1>

  <p>To confirm your registration into the waiting list for Brest coworking, just follow <a href="<%= url_for(host: 'https://waiting-list-mailer.herokuapp.com/',
              controller: 'pages',
              action: 'queue_position',
              id: @user.id ) %>" %>this link</a></p>
  <p>Thank you!</p>

  <p><i>Brest Coworking Team</i></p>
</div>