<h1>Thank you, <%= @user.first_name %>!</h1>
<h2>One more step before you get into the Waiting list for our coworking space in Brest:</h2>
<p>Confirm your inscription thanks to the email you will receive shortly!</p>